body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
#showcase {
    min-height: 400px;
    background: #333;
    color: #fff;
    text-align: center;
    padding-top: 100px;
}
#showcase h1 {
    font-size: 55px;
    margin-top: 0;
}
#main {
    padding: 20px;
}
#main h1 {
    color: #333;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}
#uniforms, #help {
    display: none;
}
#uniforms ul, #help ul {
    list-style-type: none;
    padding: 0;
}
#uniforms ul li, #help ul li {
    margin: 10px 0;
}
#uniforms ul li a, #help ul li {
    color: #333;
    text-decoration: none;
}
#uniforms ul li a:hover, #help ul li:hover {
    text-decoration: underline;
}
